<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="roxority_PeopleZen_PictureImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <roxority_PeopleZen_PictureImport.Properties.Settings>
            <setting name="Conn" serializeAs="String">
                <value>LDAP://OU=Departments,DC=global,DC=local</value>
            </setting>
            <setting name="ConnUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnAuth" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value>http://roxority/_layouts/images/people</value>
            </setting>
            <setting name="SSPIgnorePrivacy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSPBackwardCompatible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnProp" serializeAs="String">
                <value>thumbnailPhoto</value>
            </setting>
            <setting name="ImportExt" serializeAs="String">
                <value>.jpg</value>
            </setting>
            <setting name="SSPProp" serializeAs="String">
                <value>PictureURL</value>
            </setting>
            <setting name="SSPNameProp" serializeAs="String">
                <value>AccountName</value>
            </setting>
            <setting name="ConnSearch" serializeAs="String">
                <value>(&amp;(SAMAccountName=$USERNAME$))</value>
            </setting>
            <setting name="ClearEmpty" serializeAs="String">
                <value>False</value>
            </setting>
        </roxority_PeopleZen_PictureImport.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
