<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TraceLevel" value="Info" />
		<add key="BuildCAS" value="false" />
		<add key="BuildSafeControls" value="true" />
		<add key="Excludepaths" value="bin\deploy;14"/>
		<add key="DeploymentTarget" value="GAC"/>
	</appSettings>
</configuration>